html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
/*   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

.nav-icons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1em;
  left: 0;
}

.nav-icons-container button {
  cursor: pointer;
  border: none;
  background: rgba(255,255,255,0.72);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 25%;
  aspect-ratio: 1;
}

.up-button {
  margin-right: 1em;
}

.down-button svg {
  animation-name: bounce-down;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.up-button svg {
  animation-name: bounce-up;
  animation-duration: 4s;
  animation-delay: 6s;
  animation-iteration-count: infinite;
}



.nav-icons-container svg {
  width: 3em;
  margin-left: auto;
  margin-right: auto;
}

.content-wrapper {
  width: calc(85% - (4rem));
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#about, #intro, #contact {
  font-size: 2rem;
  line-height: 1.5;
}

#about, #contact, #intro {
  min-height: 100vh;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.in-view .location-pin {
  opacity: 1;
  transform: translateY(0px);
}

.location-pin {
  opacity: 0;
  display: inline-block;
  transform: translateY(-20px);
  transition-property: all;
  transition-duration: .5s;
  transition-delay: .5s;
}

.about-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.blog-title-emoji {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

::selection {
  color: #fff;
  background: #000; /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: #fff;
  background: #000; /* Gecko Browsers */
}

@media (max-width: 1050px) {
    .content-wrapper {
        width: 100%;
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 22px;
        padding-right: 22px;
    }
}

@media (max-width: 768px) {
  #about, #intro {
    font-size: 1.5rem;
  }
}

@media (max-height: 768px) {
  #about, #intro {
    font-size: 1.25rem;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */


@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes bounce-down {
    0%,10%,30%,50%,to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    20% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px)
    }

    40% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px)
    }
}

@keyframes bounce-up {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0)
    }
    15% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px)
    }
    20% {
      -webkit-transform: translateY(0);
      transform: translateY(0)
    }
    30% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px)
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0)
    }
}