html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow: hidden;
}

a,
button {
  color: #636366;
  transition: color .5s ease;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: black;
  }
}

h2 {
  font-weight: 600;
  font-size: 1.25em;
}

button,
textarea,
input {
  font-family: var(--inter-font);
}

.nav-icons-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.snap-section {
  padding: calc(44px + 1rem) 0;
}

.snap-section:focus {
  outline: none;
}

.nav-progress-container {
  position: fixed;
  left: 50%;
  bottom: 1em;
  height: 44px;
  max-height: 44px;
  display: flex;
  align-items: center;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 10px;
  padding: .5em 1em;


  svg {
    fill: #636366;
    height: 15px;
    width: 15px;
  }
}

.nav-progress-container {
  svg.progress-in-view {
    fill: #000;
  }
}

.nav-icons-container {
  width: 100%;
  position: fixed;
  bottom: 1em;
  left: 0;
}

.snap-section {
  opacity: 0;
  transition: opacity 2s ease;
}

.snap-section.in-view {
  opacity: 1;
}

.nav-icons-container button {
  cursor: pointer;
  border: none;
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 10px;
  aspect-ratio: 1;
  padding: 0;
}

.nav-icons-container svg:hover {
  color: black;
}

.up-button {
  margin-right: 1em;
}

.down-button svg {
  animation-name: bounce-down;
}

.up-button svg {
  animation-name: bounce-up;
}

.nav-icons-container svg {
  color: #636366;
  transition: transform .5s ease-in, color .5s ease;
  z-index: 1;
  width: 3em;
  margin-left: auto;
  margin-right: auto;

  animation-duration: 12s;
  animation-delay: 2s;
  animation-iteration-count: 3;
}

.content-wrapper,
.nav-icons-inner-container {
  width: calc(85% - (4rem));
  padding: 0 .124rem;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.nav-icons-inner-container {
  height: 44px;
  max-height: 44px;
}

* {
  box-sizing: border-box;
}

.section-inner {
  font-size: 2rem;
  line-height: 1.5;
}

.snap-section {
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.in-view .location-pin {
  opacity: 1;
  transform: translateY(0px);
  transition-property: all;
  transition-duration: .5s;
  transition-delay: .5s;
}

.location-pin {
  margin-right: .5rem;
  opacity: 0;
  display: inline-block;
  transform: translateY(-20px);
}

.section-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.blog-title-emoji {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

::selection {
  color: #fff;
  background: #000;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  color: #fff;
  background: #000;
  /* Gecko Browsers */
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
}

@media (max-width: 1050px) {

  .content-wrapper,
  .nav-icons-inner-container {
    width: 100%;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 22px;
    padding-right: 22px;
  }
}

@media (max-width: 768px) {
  .section-inner {
    font-size: 1.5rem;
  }
}

@media (max-height: 768px) or (max-width: 500px) {
  .section-inner {
    font-size: 1.25rem;
  }
}

@media (hover: none) and (pointer: coarse) and (max-device-width: 500px) {
  .nav-icons-container button {
    display: none;
  }

  .nav-progress-container {
    bottom: 0;
  }
}

@media (hover: none) and (pointer: coarse) and (max-device-width: 500px) {
  .snap-section {
    //scroll-snap-align: start;
    //scroll-snap-stop: always;
  }
}


@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(14deg);
  }

  30% {
    transform: rotate(-8deg);
  }

  40% {
    transform: rotate(14deg);
  }

  50% {
    transform: rotate(-4deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes bounce-up {

  0%,
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  74% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
  }

  76% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  78% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px)
  }

  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes bounce-down {

  0%,
  22% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  24% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px)
  }

  26% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  28% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px)
  }

  30%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}